@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


*{
    font-family: 'Kumbh Sans', sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
   --Darkcyan: hsl(185, 75%, 39%);
  --Verydarkdesaturatedblue: hsl(229, 23%, 23%);
--Darkgrayishblue: hsla(227, 10%, 46%,0.5);



--Darkgray: hsla(0, 0%, 59%,0.2);

}


body{
   min-height: 100vh;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    height: 720px;
    background: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg) ;
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
    background-repeat: no-repeat,no-repeat;
    background-color: var(--Darkcyan);
    color: var(--Verydarkdesaturatedblue);
}
   span{color: var(--Darkgrayishblue);
      font-weight: 400;
  }
main{
    width: 350px;
    height: 376px;
    justify-content: center;
    background-image: url(images/bg-pattern-card.svg);
    background-position: top  ;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 10px;
    padding-top: 87px;
    box-shadow: 0px 5px 10px 10px rgba(0, 0,0, 0.05);



}
.images{
    width: 105px;
    height: 105px;
    border-radius: 50% ;
    background-image:url(images/image-victor.jpg) ;
    border: 5px solid white;
    margin-left: 120px;
}
/*---top---*/
.top-text {
    line-height: 30px;
    margin-left: 100px;
}
.top-text span{
    
    margin-left:5px;
}
.top-text p{
    margin-left: 50px;
    margin-bottom: 28px;
    color: var(--Darkgrayishblue);
}
 
/*---boottom---*/
.bottom{
    width: 350px;
    border-top:0.5px solid var(--Darkgray);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content:space-around;   
    line-height: 25px;
 
}

.bottom h4{
    display: flex;
    flex-direction: column;
}
.bottom span{
    font-size: 12px;

}



